<div class="container" id="dashboard_container">
<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
  <% UserAction.order(action_date: :desc).limit(10).each do |action| %>
    <p class="action_list_item"><%= action.name %> </p>
  <% end %>
</div>