<h1>Log an Action</h1>
<form id="log_action_form">
  <div class="field">
    <label for="action_name">Action</label>:
    <input type="text" name="action_name" id="action_name"/>
  </div>
  <div class="actions">
    <input type="submit" name="save_action" value="Save" id=""save_action>
  </div>
</form>