<h1>Log an Action</h1>
<%= form_tag({controller: 'dashboard', action: 'save_action'}) do %>
  <div class="field">
    <%= label_tag(:name, "What did you do?") %>
    <%= text_field_tag(:name) %>
  </div>
  <div class="actions">
    <%= submit_tag("Save") %>
  </div>
<% end %>