<%# add navigation links to this file %>

<ul class="nav navbar-nav">
  <% if current_user.nil? %>
  <li class="active"><%= link_to 'Login', new_user_session_path %></li>
  <% else %>
  <li class="active"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  <li class="active"><a><%= current_user.email.partition('@').first %></a></a></li>
  <% end %>
</ul>